<section>
    <div class="container mt-4">
        <h2 class="text-center">Edit Product</h2>
        <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" aria-describedby="emailHelp"
                    placeholder="Enter Name" value="{{product.name}}">
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <input type="text" class="form-control" id="pr" name="cat"  value="{{product.cat}}">
            </div>
            <div class="form-group">
                <label for="name">Prize</label>
                <input type="text" class="form-control"  name="prize" value="{{product.prize}}">
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" name="description" value="{{product.description}}">
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <img src="/product-images/{{product._id}}.jpg" alt="" style="width:100px; height:auto;" id="imgView" >
                <input type="file" class="form-control" name="img" onchange="viewImage(event)">
            </div>
            <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
    </div>
</section>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>