<section>   {{!-- bootstrap table --}}
    <div class="container">
        <div class="row">
            <a href="/admin/add-product" class="btn btn-success mt-5 mb-5 ml-auto">Add Product</a>
        </div>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Title</th>
      <th scope="col">Prize</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
      {{#each products }}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.prize}}</td>
      <td>{{this.cat}}</td>
      <td>{{this.description}}</td>
      <td><img style="width:50px; height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
      <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a></td>
      <td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
 {{!-- onclick="return confirm('Do you want to Delete {{this.name}} ?')" --}}